@import "../../css/palette.css";

body {
  background-color: var(--color-silver);
  display: flex;
  justify-content: center;
}

.wb-paper {
  background-color: var(--color-white);
  width: 600px;
  height: 800px;
  box-shadow: 2px 4px 4px rgba(0,0,0,0.2);
  padding: 8px;
}

.wb-chord-progression {
  display: flex;
  flex-direction: row;
}

.wb-chord {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2px;
  background-color: var(--color-yellow);
  width: 24px;
  height: 24px;
  border: 2px solid var(--color-orange);
  border-radius: 10px;
}

h2,
.wb-song h2 {
  text-align: center;
}