@import "../../css/common.css";

.wb-chord-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: var(--spacing-s);
  width: var(--object-size-m);
  height: var(--object-size-m);
  border: var(--line-size-m) solid var(--color-orange);
  border-radius: 10px;
  background-color: var(--color-yellow);
}

.wb-chord-box__clickable {
  cursor: pointer;
}
